.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.auto.tfvars
terraform.tfvars
*.kubeconfig
kubeconfig
*.tgz
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.DS_Store
.vscode/
.idea/
*.log
.env
.env.*
*.tar
Thumbs.db
**/charts/
**/Chart.lock